@import 'vendor/bootstrap-sass-official/assets/stylesheets/bootstrap';

html, body {
  margin: 20px;
}

ul {
  list-style: none;
}

.title {
  text-align: center;
}

.content-wrapper {
  li {
    a {
      font-size: 25px;
    }
  }
}

.form-wrapper {
  margin-top: 50px
}
