<div class="form-wrapper">
  <form {{action "save" on="submit"}}>
    {{input type="text" value=title class="form-control" placeholder="Title"}}
    {{input type="text" value=videoId class="form-control" placeholder="Video ID"}}

    <div class="actions">
      <button type="submit" class="btn btn-success"> Save </button>
      {{#link-to "videos"}} Cancel {{/link-to}}
    </div>
  </form>
</div>
