<div class="container">
  <div class="row">
    <div class="content-wrapper col-sm-6">
      {{outlet}}
    </div>

    <div class="player-wrapper col-sm-6">
      {{outlet "player"}}
    </div>
  </div>
</div>
