<ul>
  {{#each}}
    <li>
      <a href="#" {{action "play" id}}> {{title}} </a>

      {{#link-to "videos.edit" id}} 
        <span class="glyphicon glyphicon-edit"></span> 
      {{/link-to}}

      <a href="#" {{action "delete" id}}> 
        <span class="glyphicon glyphicon-trash"></span> 
      </a>
    </li>
  {{/each}}

  {{#link-to "videos.new" class="btn btn-primary"}} Add Video{{/link-to}}

  {{outlet}}
</ul>
